doctype html
html(lang='zh-tw')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 映捌玖駁二電影院
    link(rel='shortcut icon', type='image/x-icon', href='../assets/images/favicon.ico')
    // google-font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Black+Ops+One')
    // font-awesome
    link(rel='stylesheet', href='../assets/css/font-awesome.min.css')
    // fancy-box
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox.css', media='screen')
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox-buttons.css')
    // timeline
    link(rel='stylesheet', href='../assets/css/timeline.css')
    link(rel='stylesheet', href='../assets/css/pages/about-history.css')
    script(src='../assets/js/jquery-1.11.0.min.js')
    script(src='../assets/js/jquery-migrate-1.2.1.min.js')
    // fancy-box
    script(src='../assets/js/fancybox/jquery.fancybox.js')
    // vertical-timeline
    script(src='../assets/js/modernizr.js')
    script(src='../assets/js/timeline.js')
    script(src='../assets/js/lightbox.js')
    script(src='../assets/js/all.js')
    // inside.nav's 內頁header
    script(src='../assets/js/inside-nav.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63285262-1', 'auto');
      ga('send', 'pageview');
  body
    #root
      include ./particle/_header
      .full-width.is-center
        article.inside-pages
          // inside-pages-head
          .inside-pages-bg
            .img-cover
          .inside-pages-nav-bar.scrolled
            .inside-pages-navbar-inner.clearfix
              .inside-pages-navbar-logo
                a.icon-logo(href='/', rel='home', title='映捌玖駁二電影院logo')
                  img(src='../assets/images/logo-s.png', alt='映捌玖駁二電影院logo')
              .inside-pages-navbar-info
                a(href='about.html', title='電影院介紹') 電影院介紹
                span.icon-arrow &gt;
                strong 映集團歷史
              .inside-pages-navbar-next
                a(href='club.html')
                  span.icon-arrow &gt;
                  strong 會員俱樂部
          // inside-pages-main
          section.inside-pages-content.about-history
            .inside-pages-head
              .inside-pages-title
                h1.title-underline 映集團歷史
            .inside-pages-main
              .search-year-area
                table.search-line
                  tr 
                    td.year-btn
                      a.year-2003(href='#year-2003') SINCE
                    td.year-btn
                      a.year-2004(href='#year-2004') 2004
                    td.year-btn
                      a.year-2005(href='#year-2005') 2005
                    td.year-btn
                      a.year-2006(href='#year-2006') 2006
                    td.year-btn
                      a.year-2007(href='#year-2007') 2007
                    td.year-btn
                      a.year-2008(href='#year-2008') 2008
                    td.year-btn
                      a.year-2009(href='#year-2009') 2009
                    td.year-btn
                      a.year-2010(href='#year-2010') 2010
                    td.year-btn
                      a.year-2011(href='#year-2011') 2011
                    td.year-btn
                      a.year-2012(href='#year-2012') 2012
                    td.year-btn
                      a.year-2013(href='#year-2013') 2013
                    td.year-btn
                      a.year-2014(href='#year-2014') 2014
                    td.year-btn
                      a(href='#year-2015') NOW
              section#cd-timeline.cd-container
                #year-2015.cd-timeline-block
                  .cd-timeline-img.cd-color
                    i.fa.fa-check
                  .cd-timeline-content
                    h2 頭等COACH廳正式開幕
                    p 頭等艙等級的貼心服務，配備DOLBY ATMOS全景聲音響、電動可調式靠腳沙發座椅、FAS聲
                      | 動系統、全包覆式螢幕，為台北西區整體設備最高級影廳。
                      br 
                      | 雷射聲動廳開幕：最新雷射4K投影機放映，全台影城之創舉，亮度更亮、色彩更飽滿鮮豔。
                    a.cd-read-more(href='#0') 了解更多
                    span.cd-date Feb 2015
                #year-2014.cd-timeline-block
                  .cd-timeline-img.cd-color
                    i.fa.fa-check
                  .cd-timeline-content
                    h2 豪華五十，牽手滿載
                    p 慶祝豪華50週年系列回饋活動。
                    //- a.cd-read-more(href='#0') 了解更多
                    span.cd-date Dec 2014
                .cd-timeline-block
                  .cd-timeline-img.cd-color
                    i.fa.fa-check
                  .cd-timeline-content
                    h2 新月豪華影城隆重開幕
                    p 東部最多廳，最新放映設備，宜蘭看電影唯一選擇。
                    //- a.cd-read-more(href='#0') 了解更多
                    span.cd-date Nov 2014
                .cd-timeline-block
                  .cd-timeline-img.cd-color
                    i.fa.fa-check
                  .cd-timeline-content
                    h2 多元美食新品推出
                    p 醬啵嫩鱈堡、陽光早餐醬吃吐司、豪華桶多口味爆米花。
                    //- a.cd-read-more(href='#0') 了解更多
                    span.cd-date Oct 2014
                .cd-timeline-block
                  .cd-timeline-img.cd-color
                    i.fa.fa-check
                  .cd-timeline-content
                    h2 舉辦【第二屆粉絲同樂會】
                    p 邀請會員欣賞強檔動作大片《露西》一同歡慶豪華50週年。
                    //- a.cd-read-more(href='#0') 了解更多
                    span.cd-date Jul 2014

       #root_footer
    // root
    include ./particle/_light-box
    include ./particle/_footer