doctype html
html(lang='zh-tw')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 映捌玖駁二電影院
    link(rel='shortcut icon', type='image/x-icon', href='../assets/images/favicon.ico')
    // google-font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Black+Ops+One')
    // font-awesome
    link(rel='stylesheet', href='../assets/css/font-awesome.min.css')
    // fancy-box
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox.css', media='screen')
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox-buttons.css')
    link(rel='stylesheet', href='../assets/css/pages/book-payment.css')
    script(src='../assets/js/jquery-1.11.0.min.js')
    script(src='../assets/js/jquery-migrate-1.2.1.min.js')
    // fancy-box
    script(src='../assets/js/fancybox/jquery.fancybox.js')
    script(src='../assets/js/lightbox.js')
    script(src='../assets/js/all.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63285262-1', 'auto');
      ga('send', 'pageview');
  body
    #root
      include ./particle/_header
      .container.section-padding.booking-width.clearfix
        form.is-center(method='post', action='')
          .book-info
            .book-step
              ul
                li.step-one 選擇電影及場次
                li.step-next.done 選擇座位
                li.step-next.done 選擇票種
                li.step-next.active 選擇付款方式
                li.step-next 確認訂單
                li.step-done 完成購票
            table.book-table
              tbody
                tr
                  td.film-pic(rowspan='5')
                    img(src='../assets/images/Canon.jpg', alt='電影劇照')
                  td(colspan='2')
                    | 選擇電影：鴿子在樹上跳舞
                  td.notice(rowspan='2')
                    | 合計金額
                    br
                    span $790
                tr
                  td
                    | 選擇時間：5/20（三）－18:20
                  td
                    | 廳別：5廳
                tr
                  td(colspan='2')
                    | 選擇座位：【8排21】、【8排21】、【8排21】
                  td.notice(rowspan='2')
                    | 目前儲值金額
                    br
                    span $1520
                tr
                  td(colspan='2')
                    | 選擇票種：獨享票餐（1張票＋飲料（中）＋爆米花（大））×1、全票×2
                tr
                  td.discount(colspan='3')
                    | 選擇折扣方式：
                    input#coupon(type='checkbox', name='coupon', value='')
                    label(for='coupon') 電子優惠券
                    input.coupon-input(type='text', name='', value='', placeholder='請輸入序號', required='required')
                    .alert
                      i.fa.fa-check
                      i.fa.fa-times
                      | 您的序號有誤，無法使用！
                    br
                    .points-input
                      input#points(type='checkbox', name='points', value='')
                      label(for='points')
                        | 紅利折抵
                        span （您目前紅利345點，可折抵3元）
          // book-info
          input.round-corner-button.btn-margin(type='button', value='上一步')
          input.round-corner-button.border-type-btn.btn-margin(type='button', onclick="javascript:location.href='book-payment-member2.html'", value='信用卡加值')
          input.round-corner-button.btn-margin(type='submit', onclick="javascript:location.href='book-payment-member-confirm.html'", value='儲值扣款')

      #root_footer
    // root
    include ./particle/_light-box
    include ./particle/_footer