doctype html
html(lang='zh-tw')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 映捌玖駁二電影院
    link(rel='shortcut icon', type='image/x-icon', href='../assets/images/favicon.ico')
    // google-font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Black+Ops+One')
    // font-awesome
    link(rel='stylesheet', href='../assets/css/font-awesome.min.css')
    // fancy-box
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox.css', media='screen')
    link(rel='stylesheet', href='../assets/css/fancybox/jquery.fancybox-buttons.css')
    link(rel='stylesheet', href='../assets/css/pages/book-movie.css')
    script(src='../assets/js/jquery-1.11.0.min.js')
    script(src='../assets/js/jquery-migrate-1.2.1.min.js')
    // fancy-box
    script(src='../assets/js/fancybox/jquery.fancybox.js')
    script(src='../assets/js/lightbox.js')
    script(src='../assets/js/all.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63285262-1', 'auto');
      ga('send', 'pageview');
  body
    #root
      include ./particle/_header
      .container.section-padding.booking-width.clearfix
        form.is-center(method='post', action='')
          .book-info
            .book-step
              ul
                li.step-one 選擇電影及場次
                li.step-next 選擇座位
                li.step-next 選擇票種
                li.step-next 選擇付款方式
                li.step-next 確認訂單
                li.step-done 完成購票
            table.book-table
              tbody
                tr
                  td.film-pic(rowspan='3')
                    img(src='../assets/images/what.jpg', alt='電影劇照')
                  td
                    .select-style
                      select(name='choose-movie', id='', required='required')
                        option(value='-1') 選擇電影
                        option(value='') 忠犬追殺令
                        option(value='') 忠犬追殺令
                tr
                  td
                    .select-style
                      select(name='choose-time', id='', required='required')
                        option(value='-1') 選擇時間
                        option(value='') 6月2號
                        option(value='') 6月2號
                        option(value='') 6月2號
                tr
                  td
                    .select-style
                      select(name='choose-screening', id='', required='required')
                        option(value='-1') 選擇場次
                        option(value='') 10:00
                        option(value='') 11:20
                        option(value='') 14:50
          input.round-corner-button.btn-margin(type='button', onclick="javascript:location.href='book-seat.html'", value='下一步')
          input.round-corner-button.border-type-btn.btn-margin(type='reset', value='重新選擇')
      #root_footer
    // root
    include ./particle/_light-box
    include ./particle/_footer