footer#footer.clearfix
  .column-3.theater-info
    img.footer-logo(src='../assets/images/footer-logo.png', alt='映捌玖駁二電影院logo')
    div
      p
        i.fa.fa-phone
        | (02)2331-5077 #208
      p
        i.fa.fa-map-marker
        | 高雄市鹽埕區駁二藝術特區 C1/C2
      p Copyright © 2015 in89 PIER-2 Cinema.
  .column-3.is-center
    ul
      li
        a.white-link(href='privacy.html') 隱私權政策
      li
        a.white-link(href='about-in-group.html') 關於in89
      li
        a.white-link(href='faq.html') FAQ及客服
      li
        a.white-link(href='http://www.104.com.tw/', target='_blink') 工作機會
      li
        a.white-link(href='about-group-booking.html') 團購包場
      li
        a.white-link(href='cooperation.html') 異業合作
  .column-3
    form.input-group.epaper-input(method='post', action='')
      input.input-box.mail-icon(type='email', name='email', placeholder='請輸入您的 Email', required='required')
      input.input-submit-btn(type='submit', value='訂閱電子報')
    .social-media-logo-group
      a(href='https://www.facebook.com/in89PIER2', target='_blink')
        .circle-btn.yellow-btn.fb-logo
          i.fa.fa-facebook
      a(href='#', target='_blink')
        .circle-btn.yellow-btn.youtube-logo
          i.fa.fa-youtube
      a(href='#', target='_blink')
        .circle-btn.yellow-btn.instagram-logo
          i.fa.fa-instagram
      a(href='mailto:pier2@in89.com.tw')
        .circle-btn.yellow-btn.mail-logo
          i.fa.fa-envelope-o
  .clear
// footer