a.pic-item(href='movie-detail.html')
  .before-wrapper.clearfix
    img.pic(src='../assets/images/canon.jpg', alt='電影劇照')
    .before-box
      .before-outer.is-white
        .before-inner
          p.title 尋找快樂的15種方法
          p.english-title
           | Hector and the Search for Happiness
          p.subtitle 導演：Kornel Mundruczo