#qa-item-1.qa-list-item
  button.news-close-btn
  .qa-list-area.clearfix
    .mark
      span Q1
    .question
      p.qa-title 會員卡限時免費升級
  .qa-content-article(style='display: none;')
    article
      | 匈牙利燉牛肉源於匈牙利，不過在中、東歐也非常流行，它是以較便宜部位的
      | 牛肉與耐久煮的根莖類蔬菜慢燉而成，這當中再以甜椒粉和其他香料調味，是
      | 我最喜愛的燉肉之一。我喜歡它燉得軟爛但仍保有形體及嚼感的肉塊與蔬菜，
      | 我更愛肉汁裡摻有蔬菜的甜。