.pic-item
  .before-wrapper.clearfix
    img.pic(src='../../assets/images/store-icon.png', alt='商店名')
    .before-box
      .before-outer.is-white
        .before-inner
          p.title
            a(href='https://www.facebook.com/thearoma', target='_blink') The Aroma馨香堂咖啡店
          p.subtitle
            | 消費滿140元 （含） 即送手工瑪芬或手工餅乾一個。
            | 生日優惠：生日當日三人(含)以上同行(消費達低消)壽星本人可享免費套餐 (價值200元)。
          p.phone
            i.fa.fa-phone
            | (02) 2312-3533
          p.address
            i.fa.fa-map-marker
            | 台北市昆明街92-4號